@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/info.css");
@import url("sections/quote.css");
@import url("sections/cta.css");
@import url("sections/footer.css");

:root {
    --c-dark: #1F2937;
    --c-neutral: #E5E7EB;
    --c-light: #F9FAF8;
    --c-accent: #3882F6;

    --w-text-heavy: 900;
    --w-text-medium: 400;
    --w-text-medium-heavy: 600;
    --w-text-medium-light: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: var(--c-accent);
    color: var(--c-light);
    font-size: 1rem;
    font-weight: var(--w-text-medium-heavy);
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 8px;
}

.vertical-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1rem; 
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}