.hero {
    background-color: var(--c-dark);
    padding: 6rem 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__text {
    margin-right: 0.5rem;
}

.hero__text h1 {
    color: var(--c-light);
    font-size: 3rem;
    font-weight: var(--w-text-heavy);
    margin-bottom: 0.5rem;
}

.hero__text h2 {
    color: var(--c-neutral);
    font-size: 1.125rem;
    font-weight: var(--w-text-light);
    margin-bottom: 1rem;
}

.hero__text button {
    border: none;
}

.hero img {
    max-width: 300px;
    height: auto;
    align-self: start;
}